PROJECT_ID=<gen-ai-apac-project>
PROJECT_NUMBER=<131261540068>
SA_NAME=some-service-account
SERVICE_ACCOUNT=some-service-account@gen-ai-apac-project-2.iam.gserviceaccount.com
MODEL="gemini-2.5-flash"
